<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="http://www.ombapi.com/"><em>Parachute Project 
  Application</em></a> is based on
  <a href="http://www.railstutorial.org/book">book</a> and
  <a href="http://screencasts.railstutorial.org/">screencast series</a>
  to teach web development with
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  
  This app uses sample framework provided under an open source digital license.
</p>
