<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on the Parachute Project at the
  <a href="https://github.com/OrangeKing/parachute">Application Repository
  page</a>.
  To get help on the sample app framework, see the
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails
  Tutorial</em> book</a>.
</p>
