<h8>You should probably try watching...</h3>

<%= @sample %>
<img src="http://images4.wikia.nocookie.net/__cb57886/filmguide/images/a/ac/The-godfather-part-ii-1974-3e490.jpg" alt="poster" height="290" width="180">